.reservation-container {
    padding: 20px;
    margin: auto;
    width: 80%;
}

.search-bar-and-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-bar {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button {
    padding: 10px;
    background-color: #1f8122;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #1c5b1e;
}

.reservation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reservation-table th, .reservation-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.reservation-table th {
    background-color: #f2f2f2;
}

.update-button {
    background-color: #1c5b1e;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
    border: none;
    padding: 5
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #1c5b1e; 
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #1c5b1e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #1c5b1e;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.notification {
    background-color: #4caf50; 
    color: white; 
    padding: 10px; 
    margin: 10px 0; 
    border-radius: 5px; 
    text-align: center; 
    transition: opacity 0.5s; 
}
